<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="text-2xl font-bold"><%= title %></h1>

    <section class="mb-5 mt-4">
      <% for( let i = messages.length - 1; i >= 0; i-- ) { %>
      <p>
        <span class="font-mono text-sm text-gray-500"
          >[<%= messages[i].added.toLocaleString('en-GB', { timeZone: 'UTC' }) %>]</span
        >
        <span class="font-semibold text-indigo-600"><%= messages[i].user %>:</span>
        <%= messages[i].text %>
      </p>
      <% } %>
    </section>

    <a class="group inline-block focus:outline-none" href="/new"
      ><p
        class="rounded-lg bg-green-600 px-8 py-3 font-semibold text-white shadow transition-colors duration-75 hover:bg-green-700 active:bg-green-800 group-focus:bg-green-700 group-focus:ring group-focus:ring-green-500/50"
      >
        New message
      </p></a
    >
  </body>
</html>
