<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="text-2xl font-bold"><%= title %></h1>

    <section class="mb-5 mt-4">
      <% messages.forEach(message => { %>
      <p>
        <span class="font-mono text-sm text-gray-500"
          >[<%= message.added.toLocaleString('en-GB', { timeZone: 'UTC' }) %>]</span
        >
        <span class="font-semibold text-indigo-600"><%= message.user %>:</span>
        <%= message.text %>
      </p>
      <% }) %>
    </section>
  </body>
</html>
